<<<<<<< HEAD
@import "tailwindcss";
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> d2efcd745807296654e57a365c594d0340d88886

:root {
  --background: #ffffff;
  --foreground: #171717;
}

<<<<<<< HEAD
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

=======
>>>>>>> d2efcd745807296654e57a365c594d0340d88886
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
<<<<<<< HEAD
  background: var(--background);
  color: var(--foreground);
=======
  color: var(--foreground);
  background: var(--background);
>>>>>>> d2efcd745807296654e57a365c594d0340d88886
  font-family: Arial, Helvetica, sans-serif;
}
